{% extends 'base.html.twig' %}

{% block title %}Liste des communes{% endblock %}

{% block body %}
<div class="container mt-4">
<div class="row">
<div class="col-md-8 offset-md-2">

<h1>Communes françaises</h1>

<form method="get" action="{{ path('communes_list') }}">
    <input type="text" name="q" placeholder="Rechercher une commune" value="{{ query }}">
    <button type="submit">Rechercher</button>
</form>

<ul>
    {% for commune in communes %}
        <li>
            {{ commune.nom }} :
            {% if commune.population is defined and commune.population > 0 %}
                {{ commune.population|number_format(0, '.', ' ') }} habitants
            {% else %}
                (Population non disponible)
            {% endif %}
        </li>
    {% else %}
        <li>Aucune commune trouvée.</li>
    {% endfor %}
</ul>
</div>
</div>
</div>
{% endblock %}
