{% extends 'base.html.twig' %}

{% block title %}Supprimer une voiture{% endblock %}

{% block body %}
<h1 class="mt-4 bb-4">Supprimer la voiture</h1>
<div class="container mt-4 mb-4 text-center p-4 rounded">   
    <p>Êtes-vous sûr de vouloir supprimer la voiture "{{ voiture.modele }}" ?</p>
    <form method="post">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ voiture.id) }}">
        <button class="btn btn-danger">Supprimer</button>
    </form>
</div>

{% if app.user %}
    <div class="container mt-4 mb-4 text-center p-4 rounded">
        <a href="{{ path('app_voiture') }}" class="btn btn-secondary">Annuler</a>
    </div>
{% endif %}

{% endblock %}

{% block javascripts %}
{% endblock %}
