{% extends 'base.html.twig' %}

{% block title %}Edit Configuration{% endblock %}

{% block body %}
<div class="container mt-5 mb-5 p-5 text-center bg-light">
   
   
   <form>
    <h1 class="mb-4 ">Modifier la configuration</h1>
    <button class="btn btn-primary">modifier</button>
    </form>
</div>
    {#<a href="{{ path('app_configuration_index') }}">back to list</a>#}
{% endblock %}